.container{
    display:flex;
    justify-content: center;
    gap: 40px;
    
}
.card{
    width:16rem;
    height:360px;
    border-radius:12px;
    box-shadow: 0 1px 2px rgba(187, 22, 22, 0.4);
    overflow:hidden;
}  
.card img{
    width:100%;
    height: 200px;
    display:block;
    background-color: red;

}     
  .card:hover{
  background-color:rgb(175, 89, 89);
}    
                                            
         .btn-grad {background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #551515ff;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; 
            color: #991f1fff;
            text-decoration: none;
          }
          .iklan{
    width: 35rem;

    border-radius:12px;
    box-shadow: 0 1px 2px rgba(187, 22, 22, 0.4);
    overflow:hidden;
}  
.iklan img{
    width:100%;
    height: 200px;
    display:block;
    background-color: red;
}

       .category{
    width:4rem;
    border-radius:100%;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(187, 22, 22, 0.4);
    overflow:hidden;
    margin-bottom: 30px;
    margin-top: 20px;
}  
.category img{
    width:100%;
    display:flex;
    background-color: red;
    justify-content: center;
}

    
         